@model IEnumerable<CompassionFinal.DETALLE_LESION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cometario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INCIDENTE_MEDICO.idniño)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LESION.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cometario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INCIDENTE_MEDICO.idniño)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LESION.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDdetalleLes }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDdetalleLes }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDdetalleLes })
        </td>
    </tr>
}

</table>
