@model CompassionFinal.DETALLE_HORARIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DETALLE_HORARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GRUPO_CLASE.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRUPO_CLASE.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIAS1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIAS1.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDetHorario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
