@model IEnumerable<CompassionFinal.ASISTENCIA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.asistencia1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niño.Nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.asistencia1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niño.Nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDasistencia }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDasistencia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDasistencia })
        </td>
    </tr>
}

</table>
